
@font-face {
    font-family: american;
    src: url('../fonts/american.ttf');
}


@font-face {
    font-family: dream;
    src: url('../fonts/dream.TTF');
}

@font-face {
    font-family: election;
    src: url('../fonts/election.ttf');
}

.header {
    margin-bottom: 20px;
    display: block;
    height: 100px;
}

.header img {
    z-index: -1;
    width: 100%;
    position: absolute;
    opacity: 0.2;
}


h1 {
    color: #343ca2;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    font-size: 40pt;
    font-family: dream;
    text-align: center;
    background-color: rgba(255,255,255, 0.4);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

h1 b {
    color: #4e58fe;
    text-shadow: 4px 4px black;
    font-family: election;
    margin-top: 20px;
    font-size: 60pt;
}

h1 b:hover {
    color: #ff3321;
    text-shadow: 6px 6px black;
    font-family: election;
    font-size: 60pt;
    cursor: pointer;
}




h5 {
    font-family: "Helvetica Neue";
    font-size: 10pt;
    text-align: right;
    font-style: italic;
    color: #151415;

    width: 150px;
    display: inline-block;
    margin-right: 30px;
    margin-top: -60px;
    float: right;
    top: 0;
}

.blue {
    position: absolute;
    right: 0;
    width: 50%;
    display: block;
    background-color: #3F51B5;
    height: 80vh;
    z-index: 2;
}

.blueback {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}

.red {
    position: absolute;
    width: 50%;
    display: block;
    background-color: #ec173a;
    height: 80vh;
    z-index: 1;
    box-shadow: inset 0 0 40px 40px #ec173a;
}



.redback {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}


.bernie {
    position: absolute;
    margin-top: 20px;
    right: 20px;
}

.trump {
    position: absolute;
    margin-top: 10px;
    float: left;
}


#trump-num {
    margin-top: 400px;
    text-shadow: 4px 4px #232323;
    float: right;
    font-size: 60pt;
    color: white;
    z-index: 999;
}


#bernie-num {
    width: 100px;
    text-shadow: 4px 4px #232323;
    margin-top: 400px;
    margin-left: 20px;
    font-size: 60pt;
    color: white;
    z-index: 999;
}

.zigzag { /* Vertical */
    margin-right: 13px;
    height: 100%;
    width: 20px;
    float: right;
    background:
            linear-gradient(45deg, #ec173a 15px, transparent 0) 0 40px,
            linear-gradient(135deg, #ec173a 15px, #3F51B5 0) 0 30px;
    z-index: 10;
    background-color: #ec173a;
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 20px 40px;
}

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateZ(0);
    z-index: 999;
}

#library {
    display: none;
}

#reset {
    margin-left: 30px;
    margin-top: 20px;
    float: left;
    width: 100px;
    height: 80px;
    background-image: url('/images/putin.jpg');
    background-size: 100px 80px;
}