<div class="header">
    <button id="vote">ADD VOTE</button>
    <h1>Voting Made <b>EASY</b></h1>
    <h5>... for people who don't give a fuck.</h5>
</div>
<div class="col-xs-6 red">
    <div id="trump-num">50</div>
    <img class="trump" src="/images/trump.png" width="300" height="300" alt="TRUMP">
</div>
<div class="col-xs-6 blue">
    <img class="bernie" src="/images/bernie.png" width="320" height='300' alt="BERNIE">
    <div id="bernie-num">50</div>

</div>